.h1{
  color:rgb(57, 113, 129);
  font-family: Cinzel;
  text-decoration: underline;
  text-align: center;
  font-size: 60px;
} 

.input-searchbar
{
  margin-bottom: 50px;
  font-size: 20px;
  border-radius: 40px; 
  font-family: Quicksand;
  text-indent: 16px;
  font-size: 29px;
}

.search-container
{
  text-align: right;
  margin-right: 295px;
  display: inline-block;
  margin-left: 30px;
}

.Ghibli-Music
{
  border: 8px solid rgb(189, 72, 72);
}

<style>
/* Style for the horizontal menu */
ul.horizontal-menu 
{
  margin:0px;
  padding: 0;
  overflow: hidden; /* Hide overflowing content */
  text-align: center; 
  display: inline-block;
}

/* Style for individual menu items */
ul.horizontal-menu li 
{
  float:left; /* Float the list items to create a horizontal menu */
  background-color: rgb(57, 113, 129);
  list-style-type: none;
  margin-left: 2px;
  border: solid;
  border-color: rgb(36, 70, 79);
  border-width: 2px;
  width: 100px;
  text-align: center;
  font-size: 26px;
}

/* Style for the menu item links */
ul.horizontal-menu li a 
{
  display: inline-block;
  color: white; /* Text color for the menu items */
  text-align: center;
  padding: 4px 10px; /* Padding for the menu items */
  text-decoration: none; /* Remove underline from links */
}

/* Change the appearance of links on hover */
ul.horizontal-menu li a:hover 
{
  opacity: .7; /* Background color on hover */
}


ul.horizontal-menu li a:active  
{
  opacity: .3; /* Background color on hover */
}

.list
{
  margin-left: 258px;
  text-align: center;
}
</style>